form {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 300px;
}
input, button {
  margin: 0.5rem 0;
  padding: 0.5rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: blue;
}
